.footer-wrapper {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-links {
    display: flex;
    align-items: center;
}

.github-logo,
.pc-logo {
    text-decoration: none;
}

.github-logo {
    margin-left: 50px;
    margin-right: 50px;
}

.developed-year {
    color: white;
    font-size: 24px;
}