.header-wrapper {
    padding: 29px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0c0c;
}

.header-links {
    display: flex;
    font-size: 28px;
    margin-left: auto;
}

.products,
.home {
    text-decoration: none;
    color: white;
    transition: all 0.8s ease-in-out;
}

.products:hover,
.home:hover {
    color: #d21e24;
}

.products {
    margin-right: 90px;
    margin-left: 50px;
}

.cart-img {
    width: 40px;
}

.rs-logo {
    width: 80px;
    text-decoration: none;
}